# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Pipenv / Virtual Environments
.venv/
venv/
*.virtualenv

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
mediafiles/

# Ignore Project Documentation Folder
Project_Doc/
.postman/
postman/
# Environment variables
.env
*.env
.env.example
*.env.example

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Celery
celerybeat-schedule
celerybeat.pid

# Coverage
.coverage
htmlcov/
.pytest_cache/
